# Игнорировать локальный файл с переменными окружения
.env

# Игнорировать папку с кодом Pimcore и его зависимостями.
# Мы публикуем ШАБЛОН, а не готовый проект.
# Сам проект будет устанавливаться локально.
# Игнорировать всё содержимое папки src...
src/*

# ...кроме файла .gitkeep
!src/.gitkeep

# Игнорировать временные файлы Docker
db_data/
