# Ignore local environment file
.env

# Ignore Composer dependencies, Pimcore assets, logs, etc.
# The project should be installed via composer, not stored in git.
src/*

# But DO NOT ignore the .gitkeep file to keep the directory in the repo
!src/.gitkeep

# Ignore Docker data volumes
db_data/
